/* button animations */

/********************************/
/*** button animated on hover ***/
/********************************/

/* button rises by 5 px and changes its color on hover */

.animatedButton {
  display: block;
  position: relative;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  white-space: nowrap;
}

.animatedButton > span {
  position: absolute;
  z-index: -1;
  height: 0;
  width: 0;
  background-color: #221638;
  display: block;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  transition: height 500ms ease-in-out, width 500ms ease-in-out;
  pointer-events: none;
}

.animatedButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
}

.animatedButton:hover > span {
  height: 100%;
  width: 100%;
}

/* button with arrow on left on hover changes its position from left to right */

.animation-left-right {
  height: 25px;
  width: 125px;
  display: block;
  position: relative;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 16px;
}

.animation-left-right > i {
  position: absolute;
  left: 5px;
  transform: translateY(-50%);
  transition: left 0.3s ease-in-out;
}
.animation-left-right > span {
  white-space: nowrap;
  position: absolute;
  left: 25px;
  transform: translateY(-50%);
  transition: left 0.3s ease-in-out;
}
.animation-left-right:hover > i {
  left: 100px;
}
.animation-left-right:hover > span {
  left: 5px;
}

/* button with underline which changes its width from 100 to 0 on hover */

.animated-underline {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
}

.animated-underline > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff5d22;
  transition: width 0.3s ease;
}

.animated-underline > text {
  position: relative;
}

.animated-underline:hover > span::after {
  width: 0;
}

/* main section heading and paragraph animations */

.animated-div-leftToRight {
  opacity: 0;
  position: relative;
  animation: slideLeftToRight 1s forwards;
}

@keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-div-rightToLeft {
  opacity: 0;
  position: relative;
  animation: slideRightToLeft 1s forwards;
}

@keyframes slideRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-div-bottomToUp {
  opacity: 0;
  position: relative;
  animation: slideBottomToUp 1s forwards;
}

@keyframes slideBottomToUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
